html, body {
	margin: 0px;
}

canvas {
	border: 2px dashed #b3b3b3;
}

#wrapper {
}

#logo {
	font-family: monaco;
	text-shadow: 2px 2px 2px black;
	background-color: #999999;
	z-index: 10;
	font-size: 2em;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 0px;
	color: white;
	left: 20px;
	top: 0px;
	position: absolute;
	display: block;
}

